.hero {
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 300px 0 335px;
    position: relative;
    @include media-laptop {
        padding: 200px 0 235px;
    }
    @include media-tabletbig {
        padding: 150px 0 135px;
    }
}

.hero__title {
    padding: 20px 100px 50px;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 64px;
    @include media-laptop {
        font-size: 3.8rem;
    }
    @include media-tabletbig {
        font-size: 3rem;
        line-height: 54px;
    }
    @include media-tablet {
        line-height: 44px;
    }
    @include media-mobile {
        font-size: 2rem;
        line-height: 34px;
        padding: 20px 0px 30px;
    }
}

.hero__subtitle {
    font-weight: 500;
    line-height: 20px;
}
