#projects {
    background: #f6f6f8;
    text-align: center;
    padding: 100px 0 150px;
    button {
        margin-top: 50px;
    }
    @include media-laptop {
        padding: 70px 0 100px;
    }
    @include media-mobile {
        padding: 50px 0 50px;
    }
}

.projects__subtitle {
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding: 50px 220px 70px;
    @include media-laptop {
        padding: 30px 150px 50px;
    }
    @include media-mobile {
        padding: 30px 0px 50px;
    }
}
