#projects {
    background: #f6f6f8;
    text-align: center;
    padding: 100px 0 150px;
    button {
        margin-top: 50px;
    }
}

.projects__subtitle {
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding: 50px 220px 70px;
}
