#services {
    padding-top: 100px;
    text-align: center;
    button {
        margin: 55px 0 105px;
        @include media-mobile {
            margin: 55px 0 55px;
        }
    }
    @include media-laptop {
        padding-top: 70px;
    }
}

.services__title {
    padding: 0 185px;
    @include media-laptop {
        padding: 0 100px;
    }
    @include media-mobile {
        padding: 0;
    }
}

.services__subtitle {
    line-height: 25px;
    color: #999999;
    padding: 50px 190px 80px;
    @include media-laptop {
        padding: 30px 100px 50px;
    }
    @include media-mobile  {
        padding: 30px 0 30px;
    }
}

.about {
    background: #f6f6f8;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    border-bottom: 1px solid #e0e0e0;
    @include media-laptop {
        padding: 70px 0;
    }
    img {
        @include media-tabletbig {
            display: none;
        }
    }
}

.about__description {
    padding-right: 120px;
    @include media-laptop {
        padding-right: 0px;
        text-align: left;
    }
}

.about__subtitle {
    line-height: 25px;
    color: #999999;
    padding: 30px 0 40px;
}

.about__link {
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985ff;
}

.about-projects {
    padding: 70px 0;
}

.about-projects__item {
    display: flex;
}

.about-projects__title {
    padding-left: 20px;
    span {
        font-size: 36px;
        line-height: 53px;
    }
}
